<%# content_for :feed do %>
<!-- <script type="text/javascript">
  $(document).on("click", ".destroy_like1", function(){
  debugger
  var element = document.getElementsByClassName("destroy_like")
  element.className = 'fa fa-thumbs-o-up';
});
</script> -->
<!--  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script>
    $( document ).ready(function(){
    $('#carouselExampleSlidesOnly').carousel();
    });
  </script> -->
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
  <tr>
  <% if flash.any? %>
    <% flash.each do |type, msg| %>
      <div class="alert alert-danger" role="alert">
        <%= msg %>
      </div>
    <% end %>
  <% end %>
  <div class="all" style="width: 100%">
  <body style="background-color: #F4FAFB">
    <%= render "ads/ad" %>
      <div class="left-column" style="background-color: #F4FAFB; float: left; width: 80%;">
        <div class="scroll" style="background-color: #F4FAFB;">
          <%= render "tweets/form", style: "background-color: #F4FAFB;" %>

    <!-- Tweets + Retweets------------------------------------------------------------------------------------------------------------------------ -->
   
          <% @all_tweets.each do |tweets| %> 
          <%= check_retweet %>
            <% if tweets.class.name == "Retweet" %>
              <% if tweets.user.photo.attached? %>
                <image src="<%=(url_for(tweets.user.photo))%>", style="display: inline-block; position: relative; width: 40px; height: 40px; overflow: hidden; border-radius: 50%;  margin-left: 36.5%; margin-bottom: 0.5%;">
              <% else %>
                <%= image_tag "user_profile.svg", style:"display: inline-block; position: relative; width: 40px; height: 40px; overflow: hidden; border-radius: 50%; margin-bottom: 0.5%" %>
              <%end%>
              <% if tweets.user.name == current_user.name %>
                <strong>You</strong> 
                <% if tweets.user.bluetick? or tweets.user.followers.count > 5 %>
                  <i class="fa fa-check-circle increase_size" style="color: #1a53ff; margin: 10px"></i>
                <%end%>
                Reposted the below tweet<br>
              <% else %>
                <strong><%= tweets.user.name %></strong> 
                <% if tweets.user.bluetick? or tweets.user.followers.count > 5 %>
                  <i class="fa fa-check-circle increase_size" style="color: #1a53ff; margin: 10px"></i>
                <%end%>
                Reposted the below tweet<br>
              <%end%>
              <div class="f_half" style="width: 500px; height: 400px; border: 1px;margin-left: 36.5%;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                <div class="s_half">
                    <% if tweets.tweet.user.photo.attached? %>
                      <image src="<%=(url_for(tweets.tweet.user.photo))%>", style="display: inline-block; position: relative; width: 40px; height: 40px; overflow: hidden; border-radius: 50%;  margin-left: 5%; margin-bottom: 1%; margin-top: 1%;">
                    <% else %>
                      <%= image_tag "user_profile.svg", style:"display: inline-block; position: relative; width: 40px; height: 40px; overflow: hidden; border-radius: 50%; margin: 10px" %>
                    <%end%>
                    <% if tweets.tweet.user.name == current_user.name %>
                      <strong>You</strong> 
                      <% if tweets.tweet.user.bluetick? or tweets.tweet.user.followers.count > 5 %>
                        <i class="fa fa-check-circle increase_size" style="color: #1a53ff;margin: 10px;"></i>
                      <%end%>
                      Posted a tweet<br>
                    <% else %>
                      <strong><%= tweets.tweet.user.name %></strong> 
                      <% if tweets.tweet.user.bluetick? or tweets.tweet.user.followers.count > 5 %>
                        <i class="fa fa-check-circle increase_size" style="color: #1a53ff; margin: 10px"></i>
                      <%end%>
                      Posted a tweet<br>
                    <%end%>
                  <div class="boxed" style="height: 300px; width:450px; margin-left: 5%;background-color: white;">
                    <div style="padding-top: 20px; padding-left: 20px;">
                      <% if tweets.tweet.images.attached? %>
                        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                          <div class="carousel-inner">
                            <% tweets.tweet.images.each_with_index do |pic,i| %>       
                              <div class="carousel-item <%= "active" if i == 0 %>">  
                                <% if pic.content_type.include?("image") %>            
                                  <%= image_tag pic, :width => 440, :height => 200, style:"margin-left: 10px;" %>
                                <%else%>
                                  <%= video_tag rails_blob_path(pic) ,autoplay: true, muted: 'muted', loop: :loop, :width => 440, :height => 200, style:"margin-left: 10px;", controls: true %>
                                <%end%>    
                              </div>
                            <%end%>
                          </div>
                          <button class="carousel-control-prev" type="button" data-target="#carouselExampleControls" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                          </button>
                          <button class="carousel-control-next" type="button" data-target="#carouselExampleControls" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                          </button>
                        </div>
                      <% else %>
                        <i class="fa fa-twitter" aria-hidden="true" style="color: gray; font-size: 200px; position: relative;left: 28%; "></i>     
                      <% end%><br>
                      <%= tweets.tweet.content %><br>
                    </div>
                  </div>
                </div>
              </div>
                <div class="likebtn" style="display: flex; margin-left: 37%">
                  <%= tweets.tweet.likescount %>
                  <% pre_like = tweets.tweet.likes.find { |like| like.user_id == current_user.id} %>
                  <% if pre_like %>
                    <%= button_to tweet_like_path(tweets.tweet, pre_like),class: 'destroy_like1', id: "myLink", method: :delete do %>
                      <i class="fa fa-thumbs-up destroy_like" style="color: #1a53ff; font-size: x-large !important;"></i>
                    <% end %>
                  <% else %>
                    <%= button_to tweet_likes_path(tweets.tweet), class: 'like', method: :post do %>
                      <i class="fa fa-thumbs-o-up" aria-hidden="true" style="color: #1a53ff; font-size: x-large !important";></i>
                    <% end %>
                  <% end %>
                  <%= tweets.tweet.comments.count%>
                  <%= link_to comments_path(tweet_id: tweets.tweet.id), style: "margin-left: 10px;" do %>
                    <i class="fa fa-comment" aria-hidden="true" style="color: #1a53ff; font-size: x-large !important"></i>
                  <% end %>
                  <% if tweets.user_id != current_user.id %>
                    <%= link_to tweet_retweeting_path(tweet_id: tweets.tweet.id), style: "margin-left: 10px;" do %>
                      <i class="fa fa-retweet" aria-hidden="true" style="color: #1a53ff; font-size: x-large !important"></i>
                    <%end%>
                  <%end%>    
                </div>
              <% @comment = Comment.new %>
              <%= render template: "comments/new", locals: { :tweet_id => tweets.id } %>
            <%else%>
              <% if tweets.user.photo.attached? %>
                <image src="<%=(url_for(tweets.user.photo))%>", style="display: inline-block; position: relative; width: 40px; height: 40px; overflow: hidden; border-radius: 50%;  margin-left: 36.5%; margin-bottom: 0.5%;">
              <% else %>
                <%= image_tag "user_profile.svg", style:"display: inline-block; position: relative; width: 40px; height: 40px; overflow: hidden; border-radius: 50%; margin: 10px; margin-bottom: 1%" %>
              <%end%>
              <% if tweets.user.name == current_user.name %>
                <strong>You</strong> 
                <% if tweets.user.bluetick? or tweets.user.followers.count > 5 %>
                  <i class="fa fa-check-circle increase_size" style="color: #1a53ff;"></i>
                <%end%>
                Posted a tweet
              <% else %>
                <strong><%= tweets.user.name %></strong>
                <% if tweets.user.bluetick? or tweets.user.followers.count > 5 %>
                  <i class="fa fa-check-circle increase_size" style="color: #1a53ff;margin: 10px;"></i>
                <%end%>
                Posted a Tweet   
              <%end%>
                <div class="boxed" style="height: 300px; width:500px; margin-left: 36.5%;background-color: white;">
                  <div style="padding-top: 20px; padding-left: 20px;">
                    <% if tweets.images.attached? %>
                      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                          <% tweets.images.each_with_index do |pic,i| %>       
                            <div class="carousel-item <%= "active" if i == 0 %>">           
                              <% if pic.content_type.include?("image") %>            
                                <%= image_tag pic, :width => 440, :height => 200, style:"margin-left: 10px;" %>
                              <%else%>
                                <%= video_tag rails_blob_path(pic) ,autoplay: true, muted: 'muted', loop: :loop, :width => 440, :height => 200, style:"margin-left: 10px;", controls: true %>
                              <%end%>     
                            </div>
                          <%end%>
                        </div>
                        <button class="carousel-control-prev" type="button" data-target="#carouselExampleControls" data-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-target="#carouselExampleControls" data-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                      </div> 
                    <% else %>
                    <i class="fa fa-twitter" aria-hidden="true" style="color: gray; font-size: 200px; position: relative; left: 28%; "></i>  
                    <% end%><br>
                    <%= tweets.content %><br>
                  </div>
                </div>
                <div class="likebtn" style="display: flex; margin-left: 37%;">
                  <%= tweets.likescount %>
                    <% pre_like = tweets.likes.find { |like| like.user_id == current_user.id} %>
                    <% if pre_like %>
                      <%= button_to tweet_like_path(tweets, pre_like),class: 'destroy_like1', id: "myLink", method: :delete do %>
                        <i class="fa fa-thumbs-up destroy_like" style="color: #1a53ff; font-size: x-large !important;"></i>
                      <% end %>
                    <% else %>
                    <%= button_to tweet_likes_path(tweets), class: 'like', method: :post do %>
                      <i class="fa fa-thumbs-o-up" aria-hidden="true" style="color: #1a53ff; font-size: x-large !important";></i>
                    <% end %>
                  <% end %>
                  <% @following_tweets = tweets %>
                  <%= tweets.comments.count %>
                  <%= link_to comments_path(tweet_id: tweets.id), style: "margin-left: 10px;" do %>
                    <i class="fa fa-comment" aria-hidden="true" style="color: #1a53ff; font-size: x-large !important"></i>
                  <% end %>
                  <% if tweets.user_id != current_user.id %>
                    <%= link_to retweet_path(tweet_id: tweets.id), style: "margin-left: 10px;" do %>
                      <i class="fa fa-retweet" aria-hidden="true" style="color: #1a53ff; font-size: x-large !important"></i>
                    <%end%>
                  <%end%>    
                </div>
                <% @comment = Comment.new %>
                <%= render template: "comments/new",  locals: {:tweet_id => tweets.id }  %>
            <% end %> 
          <%end%>
    </div>  
    <!-- /Tweets + /Retweets---------------------------------------------------------------------------------------------------------------------- -->
    </tr>

  </body>
  </tr>
<style>
  button[type=submit] {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-right: 11%;
  }
</style>
<script>
  document.addEventListener("DOMContentLoaded", function(event) { 
    var scrollpos = localStorage.getItem('scrollpos');
    if (scrollpos) window.scrollTo(0, scrollpos);
  });
  window.onbeforeunload = function(e) {
    localStorage.setItem('scrollpos', window.scrollY);
  };
</script>
<!-- <script type="text/javascript">
  $("#myLink").on("ajax:beforeSend", function(){
    var element = document.getElementsByClassName("destroy_like")
  element.className = 'fa fa-thumbs-o-up';
   window.location.reload();
}).on("ajax:complete", function(){
  //preloader hide
});
</script>
 -->